{% extends 'base_layout.html' %}
{% block content %}

<h1>List of departments</h1>

<div class="departments">

    {%for department in departments %}
    <div class="department">
        <a href ="{% url 'dep_detail' slug=department.slug %}">
                <img src="{{department.thumb.url}}"
                width="400"
                height="250">
            </a>
        <p>
            <a href ="{% url 'dep_detail' slug=department.slug %}">
            {{department.department_id}}
        </a>
        </p>

    </div>
    {%endfor%}
</div>

{% endblock %}