<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="workers">
    <h1>List of workers</h1>
    {%for worker in workers %}
    <div class="worker">
           <a href ="{% url 'detail' slug=worker.slug %}">
                <img src="{{worker.thumb.url}}"
                width="200"
                height="250">
            </a>
        <p>
            <a href ="{% url 'detail' slug=worker.slug %}">
            {{worker.first_name}} {{worker.last_name}}
            </a>
        </p>
        <p> {{worker.job_id}} </p>
    </div>
    {%endfor%}
</div>
</body>
</html>