{% extends 'base_layout.html' %}
{% block content %}

<h1>Our Team</h1>

<div class="workers">
    {%for worker in workers %}
    <div class="worker">
           <a href ="{% url 'detail' slug=worker.slug %}">
                <img src="{{worker.thumb.url}}"
                width="200"
                height="300">
            </a>
        <p>
            <a href ="{% url 'detail' slug=worker.slug %}">
            {{worker.first_name}} {{worker.last_name}}
            </a>
        </p>
        <p> {{worker.job_id}} </p>
    </div>
    {%endfor%}
</div>

{% endblock %}